<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <link href="/static/base.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/5.8.2/css/all.min.css" rel="stylesheet">
    {% block style %}{% endblock %}

    {% block scripts_head %}{% endblock %}
    <title>{% block title %}LifeHackLehigh{% endblock %}</title>
</head>
<body>
<noscript class="text-center"><i class=" fa fa-exclamation-triangle"></i></noscript>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="z-index: 600">
    <a class="navbar-brand" href="/">LifeHack</a>
    <button class="navbar-toggler"></button>
</nav>
<div class="container-fluid px-2 pt-3" id="main">
    {% block content %}
    {% endblock %}
</div>

<!--Closing scripts tag-->
<script src="https://cdn.bootcss.com/prefixfree/1.0.7/prefixfree.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.bootcss.com/gsap/latest/TweenMax.min.js"></script>
<script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdn.bootcss.com/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
<script src="https://cdn.bootcss.com/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
<script src="https://cdn.bootcss.com/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script>
<script src="https://cdn.bootcss.com/ScrollMagic/2.0.7/plugins/jquery.ScrollMagic.min.js"></script>
<script src="/static/js/common.js"></script>
{% block scripts %}{% endblock %}
<!--Scripts tags end-->
</body>
</html>